.nav-heading {
	color:#24a7d5;
	font-size:300%;
}
#slider{
	float:left;
	margin-right:20px;
	width:70%;
}

#logo{
	margin-left:80px;
	margin-top: 3px;
	}

h2{
	margin:10px;
	font-size:200%;
	color:White;
}

.login {
	margin-left:110px;
	display:inline-block;
	float:left;
	width:20%;
	color:white;
}

#submit{
	margin-top:10px;
	margin-left:40px;
	width:70%;
}
