
h1{
	text-align:center;
	font-size:500%;
	color:#A9A9A9;
}

h2{
	
	text-align:center;
	font-size:500%;
	color:white;
}

.aligncenter {
    text-align: center;
	margin-top:20px;
}

.but {
   color:black;
   background-color: #efeff5;
   font-family: "Arial", san-serif;
   border-radius: 8px;
   position: absolute;
   margin: 20px;
   left: 400px;
}

.abut {	
   color:black;
   position: relative;
    background-color: #efeff5;
   font-family: "Arial", san-serif;
   border-radius: 8px;
   margin: 20px;	
   left: 800px;
}